.rainbow-text {
	font-family: Comic Sans MS, cursive, sans-serif;
	text-align: center;
	font-weight: bold;
	font-size: 81px;
	text-shadow: #ad29ff 7px 7px 7px;
	-webkit-text-stroke-width: 4.3px;
	-webkit-text-fill-color: transparent;
}
.rainbow-text .block-line > span {
	display: inline-block;
}
